<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @point.user_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @point.score %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
