<h1>Billing Details</h1>

<%= form_for @bill do |f| %>
<div class="card">
  <div class="card-body">

    <div class="mb-3">
      <%= f.label :amount, { class: "form-label"} %>
      <%= f.text_field :amount, { class: "form-control", placeholder: "Total Amount" } %>
    </div>

    <%= f.hidden_field :user_id, value: params[:id] %>
    <div class="mb-3">
      <%= f.label :foreign_country, { class: "form-label"} %>
      <%= f.check_box :foreign_country %>
    </div>

    <%= f.submit "Submit", class: "btn btn-primary" %>

  </div>
</div>
<% end %>